body{
    font-family:Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
h1{
    color: darkblue;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}
footer {
    margin-top: 40px;
    border-top: 1px solid gray;
    padding-top: 10px;
}
div {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

/* update day2 css */
#main-header {
    background-color: lightblue;
    padding: 20px;
}

.navbar a {
    margin-right: 15px;
    font-weight: bold;
}

.about {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.Skills {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

/* update day 3 css */
/*navigation will look clean and horizontal*/
.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
text-decoration: none;
font-weight: bold;
color: steelblue;
}

.navbar a:hover {
    color: blue;
}

/* update day 4 css 9th day for contact page */
form {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

input , textarea {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
}

/* update day 5 CSS for contact.html file 10/14 */
input , textarea {
    width: 100%;
    max-width: 400;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button.hover {
    background-color: darkgreen;
}

form {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

/* update day 6 css add container in home.html */
.container {
    width: 80%;
    margin:auto;
}
/*Improve section*/
section{
    background-color: white;
    padding: 20ox;
    margin-top: 20px;
    border-radius: 5px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
/*Improve navigation bar*/
.navbar {
    margin-bottom: 20px;
}
/*Add shadow effect(Makes it look professional)*/
section{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}